{% extends 'base.html.twig' %}

{% block stylesheets %}
     {% stylesheets '@GanttChartBundle/Resources/public/css/*' filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}" />
     {% endstylesheets %}
{% endblock %}

{% block javascripts %}
     {% javascripts '@GanttChartBundle/Resources/public/js/*' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}

{% block body %}
{# to config!#}
     {% set cellWidth = chartPeriod.getCellWidth() %}
     {% set cellHeight = chartPeriod.getCellHeight() %}
     {% set blockWidth = chartPeriod.getPeriodDayCount() * cellWidth %}

     <div class="navBlock">
         <div class="query_form">
             <form action="/gantt" method="GET">
                 <label>JQL Query</label>
                 <textarea name="q[jql]" cols="100" rows="5">{{ query['jql']|default('') }}</textarea>
                 <label>Limit</label>
                 <input name="q[limit]" type="text" value="{{ query['limit']|default('') }}" />
                 <input type="submit" />
             </form>

             <p>&nbsp;</p>
         </div>
     </div>
     <figure class="gantt">

         <figcaption>{{ title }}</figcaption>

         {# task block#}
         <aside>
             <ul class="gantt-labels" style="margin-top: {{ (cellHeight * 2) +6 }}px">

                 {% for key, item in chartItems %}
                     <li class="gantt-label">
                         <strong style="line-height: {{ cellHeight }}px; height: {{ cellHeight }}px">
                             <span class="iterator">{{ key + 1 }}.</span>
                             {# TRANSFER address formation into CODE#}
                             <a href="{{ jiraConfig.jiraHost }}/browse/{{ item.getKey() }}"
                                target="_blank"
                                title="{{ item.getName }}">

                                 {{ item.getName }}
                             </a>
                         </strong>
                     </li>
                 {% endfor %}
             </ul>
         </aside>
         {# /task block#}

         <section class="gantt-data">
             <header>
                 {# shaping months #}
                 <ul class="gantt-months" style="width:{{ blockWidth }}px">
                     {% for dateTime in chartPeriod.getPeriodByMonth() %}
                     {# cell length is considered as default width*number of days in month #}
                          <li class="gantt-month" style="width:{{ chartPeriod.getDaysInPeriodMonth( dateTime ) * cellWidth }}px">
                              <strong class="cellStyle">{{ dateTime.format('F') }} {{ dateTime.format('y') }}</strong>
                          </li>
                     {% endfor %}
                 </ul>
                 {# /shaping months #}

                 {# shaping days #}
                 <ul class="gantt-days" style="width:{{ blockWidth }}px">
                     {% for dateTime in chartPeriod.getPeriodByDay() %}

                         {% set weekend = '' %}
                         {% if( chartPeriod.isWeekendDay(dateTime) ) %}
                             {% set weekend = 'weekend' %}
                         {% endif %}

                         {% set today = '' %}
                         {% if( chartPeriod.isTodayDay(dateTime) ) %}
                             {% set today = 'today' %}
                         {% endif %}

                         <li class="gantt-day {{ weekend }} {{ today }}" style="width:{{ cellWidth }}px">
                             <span style="line-height:{{ cellHeight }}px; height:{{ cellHeight }}px">
                                 {{ dateTime.format('d') }}
                             </span>
                         </li>
                     {% endfor %}
                 </ul>
                 {# /formation of days #}
             </header>

             {# formation of the subject area #}
             <ul class="gantt-items" style="width:{{ blockWidth }}px">
                 {% for key, item in chartItems %}
                     <li class="gantt-item">
                         <ul class="gantt-days">
                             {% for dateTime in chartPeriod.getPeriodByDay() %}

                                 {% set weekend = '' %}
                                 {% if( chartPeriod.isWeekendDay(dateTime) ) %}
                                     {% set weekend = 'weekend' %}
                                 {% endif %}

                                 {% set today = '' %}
                                 {% if( chartPeriod.isTodayDay(dateTime) ) %}
                                     {% set today = 'today' %}
                                 {% endif %}

                                 <li class="gantt-day {{ weekend }} {{ today }}" style="width:{{ cellWidth }}px">
                                     <span style="line-height:{{ cellHeight }}px; height:{{ cellHeight }}px">&nbsp;</span>
                                 </li>

                             {% endfor %}
                        </ul>{# display task field #}
                         <a href="{{ jiraConfig.jiraHost }}/browse/{{ item.getKey() }}"
                            target="_blank"
                            title="
Update date: {{ item.getStartDate().format('d-m-y') }}
Due date: {{ item.getDueDate().format('d-m-y') }}
Task status: {{ item.getStatus() }}
{% if( item.getAssignee() ) %}
    Assignee: {{ item.getAssignee().displayName }}
{% endif %}
">
                             <span class="gantt-block {{ item.getViewStatus() }}"
                                   style="left: {{ chartPeriod.getItemLeftOffset(item.getStartDate()) }}px;
                                           width: {{ chartPeriod.getItemBlockWidth(item) }}px;
                                           height: {{ cellHeight - 8 }}px ">

                                 <strong class="gantt-block-label">{# you can display something here #}#</strong>
                             </span>
                         </a>
                         {# /display task field #}
                     </li>
                 {% endfor %}
             </ul>
             {# /formation of the subject area #}

             {# timestamp #}
             {# need to calculate the left offset to the current day #}
             {% set leftOffset = chartPeriod.getItemLeftOffset() + (cellWidth / 2)|round %}
             <time style="top: {{ cellHeight * 2 }}px; left: {{ leftOffset }}px" datetime="{{ chartPeriod.getToday() }}">Today</time>

         </section>
     </figure>

     <fieldset class="legend">
         <legend>Notes</legend>

         <div class="legend-block">
             <span class="gantt-block" style="height: {{ cellHeight - 8 }}px; position:relative; display:block; margin:10px;">
                 <strong class="gantt-block-label"># Task in New status</strong>
             </span>

             <span class="gantt-block progress" style="height: {{ cellHeight - 8 }}px; position:relative; display:block; margin:10px;">
                 <strong class="gantt-block-label"># Task scheduled with completion date</strong>
             </span>

             <span class="gantt-block important" style="height: {{ cellHeight - 8 }}px; position:relative; display:block; margin:10px;">
                 <strong class="gantt-block-label"># Task in the Planned status, no completion date</strong>
             </span>

             <span class="gantt-block warning" style="height: {{ cellHeight - 8 }}px; position:relative; display:block; margin:10px;">
                 <strong class="gantt-block-label"># Planning errors. Incorrect dates</strong>
             </span>
         </div>
         <div class="annotation-block">
             <div class="title">
                 Request for a selection of department tasks, example:
             </div>
             assignee in membersOf([ Group ]) AND status != "Closed" ORDER BY assignee, priority DESC, created ASC

             <div class="title">
                 Request for employee:
             </div>
             assignee = [ Domain login ] AND status != Closed ORDER BY fixVersion, priority, reporter

         </div>
     </fieldset>

{% endblock %}                        
